# Dependencies
node_modules/
**/node_modules/

# Production builds
dist/
**/dist/
dist-ssr/
**/dist-ssr/

# Logs
*.log
logs/
npm-debug.log*

# System Files
.DS_Store
Thumbs.db

# Editor configurations
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
